{% extends "index.html" %}

{% block title %} Ant Colony Optimization {% endblock %}

{% block content %}
<div class="az-content-body pd-lg-l-40 d-flex flex-column">
  <div class="az-content-breadcrumb">
    <span>Recommendation</span>
    <span>LQ45</span>
    <span>Data</span>
  </div>
  <h2 class="az-content-title">List Of LQ45</h2>

  <div class="az-content-label mg-b-5">Simple Table</div>
  <p class="mg-b-20">Using the most basic table markup.</p>

  <hr>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
    Upload File
  </button>

  <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/company/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table id="datatable" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Listing Date</th>
          <th>Shares</th>
          <th>Listing Board</th>
        </tr>
      </thead>
      <tbody>
        {% for row in table_data %}
        <tr>
          <td>{{ loop.index }}</td> <!-- Menampilkan nomor urut -->
          <td>{{ row.code }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.listing_date }}</td>
          <td>{{ row.shares }}</td>
          <td>{{ row.listing_board }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- table-responsive -->
</div>
  {% endblock %}